@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

body {
  overflow-x: hidden;
  font-family: "Lora", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero {
  text-align: center;
  /* padding: 50px; */
  /* background-image: url("amazon.jpg"); */
  background-size: cover;
  color: #fff9f0;
}

.nav {
  position: relative;
  top: 0;
  /* width: 100%; */
  transition: all 0.5s;
  /* position: relative; */
  z-index: 2;
  /* background-color: #002D62; */
}
.navMission {
  position: fixed;
  z-index: 99;
  width: 100vw;
}
.navMission .logoMission {
  width: max-content;
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
  letter-spacing: 1px;
  font-weight: 600;
}
body.fixed-nav nav {
  position: fixed;
  width: 100vw;
  /* box-shadow: 0 5px 0 rgba(0,0,0,0.1); */
  /* background-color: #002D62; */
}

h1.logo {
  max-width: 0;
  overflow: hidden;
  transition: all 1.3s ease-in-out;
  text-wrap: nowrap;
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
  letter-spacing: 1.5px;
  font-weight: 600;
}
.fixed-nav h1.logo {
  max-width: 500px;
}

#section1 {
  background-image: url(/assets/img/heroBGMobile2.webp);
}
.heroSection_languageSwitch {
  position: absolute !important;
  top: 20px;
  right: 20px;
}
/** Mobile Menu Section  */
#navBar_mobileMenu {
  display: none;
  opacity: 0;
  font-family: var(--pharagrap-font);
  letter-spacing: 1.8px;
  font-size: 1.2rem;
  width: 100vw;
  height: 100dvh;
  z-index: 999 !important;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}
.mobileMenu_content {
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 50%;
  background-color: #002d62;
  z-index: 99;
}
#closeModalBtn {
  height: 42px;
  width: 42px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}
.links_menu {
  margin-top: 130px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
/** WhatsApp Icon **/
.wtspIconContainer {
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 0.5rem;
  transform: translateY(-40%);
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* LANGUAGE SWITCH */
/* Container for the switch */
.language-switch {
  position: relative;
  width: 3.5rem;
  height: 1.8rem;
  display: inline-block;
}

/* Hidden checkbox */
.language-switch input {
  display: none;
}

/* Switch background */
.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease;
}

/* Language labels */
.language {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  padding: 0 3px;
  transition: opacity 0.3s ease;
}

/* Toggle button */
.switch::after {
  content: "";
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #fff;
  border-radius: 18px;
  top: 0px;
  right: 27px;
  transition: transform 0.3s ease;
}

/* When the toggle is checked */
.language-switch input:checked + .switch {
  /* background-color: #4caf4fe0; */
}

.language-switch input:checked + .switch::after {
  transform: translateX(27px);
}

/**SECTION 3*/
.whatIsSachaInchi {
  /* background-image: url(/assets/img/amazonForest.webp); */
  scroll-margin-top: 64px;
  height: auto;
  /* padding: 0 50px; */
  text-align: center;
  /* background-image: 
    url('/assets/img/bgSachaInchi6.png'),
    linear-gradient(45deg, #0A3D62 0%, #5CA8D6 100%); */
  /* background-blend-mode: overlay; */
  background-size: fit;
  /* background-repeat: repeat; */
  background-position: center;
}
.whatIsSachaInchi .bodyContainer {
  display: flex;
  /* gap: 1rem; */
  font-weight: 500;
}
.flowing-text-biosphere {
  text-align: justify;
  line-height: 1.7;
}
.cta-buttons {
  margin-top: 20px;
}
.cta-buttons button {
  background-color: #f6ba02;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.2em;
  cursor: pointer;
}

.split-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 5rem; */
}
/**Sacha Inchi Benefits*/
#section4 {
  display: flex;
  flex-direction: column;
  /* padding: 2rem 1rem; */
  height: auto;
  /* max-width: 100%; */
  /* background-image: url('/assets/img/xv.png'); */
  /* background-blend-mode: overlay; */
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
}
/*Modal */
.hidden {
  display: none;
}
.imageSection4 {
  /* margin-top: 1rem; */
  height: auto;
  min-height: 200px;
  width: 100%;
}
/*Sustainability section */
#infoSection5 {
  scroll-margin-top: 55px;
  /* background-image: 
    url('/assets/img/bgSachaInchi4.png'), linear-gradient(45deg, #0A3D62 0%, #5CA8D6 100%); */
  /* background-blend-mode: overlay; */
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
}
.shape-circle {
  shape-outside: circle(50%);
  float: left;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

/* Enhanced circular text wrapping */
.text-wrap-container {
  overflow: hidden;
}

.circular-image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  shape-outside: circle(50%);
  float: left;
  margin-right: 2rem;
  margin-bottom: 1rem;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
}

.circular-image.biosphere {
  width: 420px;
  height: 420px;
  border-radius: 50%;
  object-fit: cover;
  shape-outside: circle(50%);
  float: left;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.circular-image.seeds-with-flowers {
  width: 420px;
  height: 420px;
  border-radius: 50%;
  object-fit: cover;
  shape-outside: circle(50%);
  float: left;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .circular-image {
    width: 300px;
    height: 300px;
    margin-right: 1rem;
    /* margin-bottom: 1rem; */
  }
}

@media (max-width: 640px) {
  .circular-image {
    float: none;
    display: block;
    margin: 0 auto 0.5rem auto;
    shape-outside: none;
  }
  .circular-image.seeds-with-flowers {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    shape-outside: circle(50%);
    float: left;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
}

.flowing-text {
  text-align: justify;
  line-height: 1.7;
  hyphens: auto;
}

/* #section7 {
  background-image: url(/assets/img/backgroundSeeds.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

footer {
  background-color: #163020;
  color: #fff9f0;
  text-align: center;
  padding: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/** Mission Statement **/
body.body_mission {
  padding-top: 65px;
  scrollbar-color: none;
}

.headerMission {
  position: relative;
  min-height: 300px;
  max-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 60px 0;
}
.headerMission::before {
  content: "";
  width: 72%;
  height: 100%;
  background: #000;
  background: url("../assets/img/bgHeader.png") right center no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.headerMission::after {
    content: '';
    width: 130px;
    height: 130px;
    position: absolute;
    left: -1%;
    bottom: -1%;
    background: url("../assets/img/cornerBGHeader.png") right center no-repeat;
    background-size: cover;
    z-index: 99;
}
.header-text {
  width: 55%;
}
.header-image {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
/* delte this */
.parallaxMission {
  background-attachment: fixed;
  background-position: top;
  background-repeat: repeat;
  background-size: contain;
}
.missionStatement {
  position: relative;
  width: 100%;
}
.missionStatement::before {
  content: "";
  height: 300px;
  width: 400px;
  background-image: url("../assets/img/seedsBlackAndWhite.png");
  position: absolute;
  top: -40px;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.3;
}
.missionStatement::after {
  content: "";
  height: 300px;
  width: 400px;
  background-image: url("../assets/img/seedsBlackAndWhite.png");
  position: absolute;
  bottom: 20px;
  right: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -9;
  opacity: 0.3;
}
/* until here */
@media (min-width: 1024px) {
  body.body_mission {
    padding-top: 65px;
    scrollbar-color: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .missionStatement {
    position: relative;
    width: 100%;
    justify-content: center;
  }
  .missionStatement::before {
    content: "";
    height: 300px;
    width: 400px;
    background-image: url("../assets/img/seedsBlackAndWhite.png");
    position: absolute;
    opacity: 0.3;
    top: -40px;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* opacity: 0.5; */
  }
}
@media (min-width: 1280px) {
  /* body {
    padding-top: 65px;
    scrollbar-color: none
  } */

  .missionStatement::before {
    height: 380px;
    width: 550px;
    top: -30px;
    left: 0;

    /* opacity: 0.5; */
  }
}
/** Tablet */
@media (max-width: 960px) {
  body.fixed-nav nav {
    position: fixed;
    width: 100vw;
    max-width: 960px;
    /* box-shadow: 0 5px 0 rgba(0,0,0,0.1); */
  }
  .button {
    padding: 10px 20px;
    font-size: 14px;
  }
}

/** LG */

@media (min-width: 1024px) {
  /* #section7 {
    width: 100%;
    background-position: left;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #163020;
  } */
  #section7 .container {
    display: flex;
    flex-direction: row;
  }
  /* MISSION */
  .headerMission {
  position: relative;
  min-height: 300px;
  max-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 60px 0;
}
.headerMission::before {
  content: "";
  width: 85%;
  height: 100%;
  background: #000;
  background: url("../assets/img/bgHeader.png") right center no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.headerMission::after {
    content: '';
    width: 130px;
    height: 130px;
    position: absolute;
    left: -1%;
    bottom: -1%;
    background: url("../assets/img/cornerBGHeader.png") right center no-repeat;
    background-size: cover;
    z-index: 2;
}
.header-text {
  width: 55%;
}
.header-image {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
}

/** Desktop */
@media (min-width: 1280px) {
  .whatIsSachaInchi {
    padding: 0 60px;
  }
  .whatIsSachaInchi .bodyContainer {
    width: 100%;
    gap: 3rem;
    align-items: center;
  }
  .whatIsSachaInchi .body {
    width: 65%;
  }
  .whatIsSachaInchi .imgContainer {
    width: 20%;
    margin-top: 5rem;
  }
  .imageSection4 {
    /* margin-top: 1rem; */
    height: auto;
    min-height: 300px;
    width: 100%;
  }
  #section5 .imgContainer {
    width: 280px;
    height: 400px;
  }
}
/** Mobile */
@media (max-width: 480px) {
  body.fixed-nav nav {
    position: fixed;
    width: 100vw;
    max-width: 480px;
    /* box-shadow: 0 5px 0 rgba(0,0,0,0.1); */
  }
  /* #section1 {
    background-image: url(/assets/img/heroBGMobile.webp);
    background-position: center;
  } */
  .language {
    font-size: 1.2rem;
    padding: 0 2px;
  }
  .whatIsSachaInchi {
    /* background-image: url(/assets/img/amazonForestMobile.webp); */
    /* padding: 1.5rem 1rem; */
    font-size: 12px;
    height: auto;
  }

  .parallax {
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    background-attachment: scroll;
  }
  .parallaxText {
    padding: 1rem;
  }
  .whatIsSachaInchi .imgContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #section5 .videoContainer {
    /* width: 385px; */
    height: 385px;
  }

  /* mission page */
  .missionStatement::after {
    right: 5px;
  }
}

/* Bosque Seco Page */
body.bosque-seco-body {
  font-family: "Lato", sans-serif;
  background-color: #fdfbf5; /* Un fondo crema muy suave */
}
.font-serif {
  font-family: "Lora", serif;
}
/* Efecto de superposición para la imagen de héroe */
.hero-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
}
