@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  overflow-x: hidden;
  font-family: 'Lora', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero {
  text-align: center;
  /* padding: 50px; */
  /* background-image: url("amazon.jpg"); */
  background-size: cover;
  color: #fff9f0;
}

.nav {
  top: 0;
  /* width: 100%; */
  transition: all 0.5s;
  /* position: relative; */
  z-index: 1;
}
body.fixed-nav nav {
  position: fixed;
  width: 100vw;
  /* box-shadow: 0 5px 0 rgba(0,0,0,0.1); */
}

h1.logo {
  max-width: 0;
  overflow: hidden;
  transition: all 1.3s ease-in-out;
  text-wrap: nowrap;
  font-family: 'Noto Serif', sans-serif;
  font-style: italic;
  letter-spacing: 1.5px;
  font-weight: 600;
}
.fixed-nav h1.logo {
  max-width: 500px;
}

#section1 {
  background-image: url(/assets/img/sacha-inchi-bg.webp);
}
.heroSection_languageSwitch {
  position: absolute !important;
  top: 20px;
  right: 20px;
}
/** Mobile Menu Section  */
#navBar_mobileMenu {
  display: none;
  opacity: 0;
  font-family: var(--pharagrap-font);
  letter-spacing: 1.8px;
  font-size: 1.2rem;
  width: 100%;
  height: 100dvh;
  z-index: 999 !important;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}
.mobileMenu_content {
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 50%;
  background-color: #163020;
  z-index: 99;
}
#closeModalBtn {
  height: 42px;
  width: 42px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}
.links_menu {
  margin-top: 130px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
/** WhatsApp Icon **/
.wtspIconContainer {
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 0.5rem;
  transform: translateY(-40%);
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* LANGUAGE SWITCH */
/* Container for the switch */
.language-switch {
  position: relative;
  width: 3.5rem;
  height: 1.8rem;
  display: inline-block;
}

/* Hidden checkbox */
.language-switch input {
  display: none;
}

/* Switch background */
.switch {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease;
}

/* Language labels */
.language {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  padding: 0 3px;
  transition: opacity 0.3s ease;
}

/* Toggle button */
.switch::after {
  content: "";
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #fff;
  border-radius: 18px;
  top: 0px;
  right: 27px;
  transition: transform 0.3s ease;
}

/* When the toggle is checked */
.language-switch input:checked + .switch {
  /* background-color: #4caf4fe0; */
}

.language-switch input:checked + .switch::after {
  transform: translateX(27px);
}


/**SECTION 3*/
.whatIsSachaInchi {
  background-image: url(/assets/img/amazonForest.webp);
  scroll-margin-top: 64px;
  height: auto;
  /* padding: 0 50px; */
  text-align: center;
  /* padding: 60px 50px 50px 50px; */
  /* opacity: 0.5; */
}
.whatIsSachaInchi .bodyContainer {
  display: flex;
  /* gap: 1rem; */
  font-weight: 500;
}
.cta-buttons {
  margin-top: 20px;
}
.cta-buttons button {
  background-color: #f6ba02;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.2em;
  cursor: pointer;
}
/* section {
  padding: 50px;
  text-align: center;
} */
/* .whatIsSachaInchi .imgContainer {
  display: flex;
  align-self: center;
  width: 20%;
} */
/* .whatIsSachaInchi img {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  box-shadow: none;
} */
.whatIsSachaInchi video {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  box-shadow: none;
  width: 100%; /* Adjust as needed */
  height: 400px; /* Maintain aspect ratio */
  object-fit: none;
  display: block;
}
.split-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 5rem; */
}
/**Sacha Inchi Benefits*/
#section4 {
  display: flex;
  flex-direction: column;
  /* padding: 2rem 1rem; */
  height: auto;
  /* max-width: 100%; */
}
/*Modal */
.hidden {
  display: none;
}
.imageSection4 {
  margin-top: 1rem;
  height: auto;
  min-height: 200px;
  width: 100%;
}
#section5 {
  scroll-margin-top: 55px;
}
/* #section5 .videoContainer {
  width: 320px;
  height: 400px;
} */

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px;
}
.product-card {
  border: 1px solid #d6cc99;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}
.testimonial-slider {
  padding: 50px;
  background-color: #1b4d20;
  color: #fff9f0;
}

#section7 {
  background-image: url(/assets/img/seedsGreenBg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  background-color: #163020;
  color: #fff9f0;
  text-align: center;
  padding: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/** Mission Statement **/
/* Custom styles for the glass effect */
    .glass-effect {
      background: #fff9f01a; /* Cream with 10% opacity */
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 249, 240, 0.2); /* Light border */
    }
    /* .missionStatement {
      background-image: url(../assets/img/amazonForest2.webp);
    } */
/** Tablet */
@media (max-width: 960px) {
  body.fixed-nav nav {
  position: fixed;
  width: 100vw;
  max-width: 960px;
  /* box-shadow: 0 5px 0 rgba(0,0,0,0.1); */
}
  .button {
    padding: 10px 20px;
    font-size: 14px;
  }

}


/** LG */

@media (min-width: 1024px) {
  #section7 {
    width: 100%;
    /* background-image: none; */
    background-position: left;
    background-size:auto;
    background-repeat: no-repeat;
    background-color: #163020; /* Fallback color */
  }
  #section7 .container {
    display: flex;
    flex-direction: row;
  }
}

/** Desktop */
@media (min-width: 1280px) {
  .whatIsSachaInchi {
    padding: 10px 60px;
  }
  .whatIsSachaInchi .bodyContainer {
  width: 100%;
  gap: 3rem;
  align-items: center;
}
  .whatIsSachaInchi .body {
  width: 65%;
}
  .whatIsSachaInchi .imgContainer {
  width: 20%;
  margin-top: 5rem;
}
  .whatIsSachaInchi video {
    height: 550px;
  }
  .imageSection4 {
  margin-top: 1rem;
  height: auto;
  min-height: 300px;
  width: 100%;
}
#section5 .imgContainer {
  width: 320px;
  height: 400px;
}
#section5 .videoContainer {
  width: 320px;
  height: 400px;
}
#section5 .videoContainer video {
  object-fit: cover;
}
}
/** Mobile */
@media (max-width: 480px) {
  body.fixed-nav nav {
  position: fixed;
  width: 100vw;
  max-width: 480px;
  /* box-shadow: 0 5px 0 rgba(0,0,0,0.1); */
}
  #section1 {
    background-image: url(/assets/img/sacha-inchi-mobile.webp);
  }
  .language {
  font-size: 1.2rem;
  padding: 0 2px;
}
  .whatIsSachaInchi {
    background-image: url(/assets/img/amazonForestMobile.webp);
    padding: 1.5rem 1rem;
    font-size: 12px;
    height: auto;
  }

  .parallax {
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    background-attachment: scroll;
  }
  .parallaxText {
    padding: 1rem;
  }
  #section3 {
  }
  .whatIsSachaInchi .imgContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
  .whatIsSachaInchi video {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    box-shadow: none;
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
  #section5 {
    /* margin-top: 30px; */
  }
  #section5 .videoContainer {
  width: 385px;
  height: 385px;
}
}
