@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BrownSugar";
  src: url("/assets/fonts/BrownSugar.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero {
  text-align: center;
  /* padding: 50px; */
  background-image: url("amazon.jpg");
  background-size: cover;
  color: #fff9f0;
}

.nav {
  top: 0;
  /* width: 100%; */
  transition:all 0.5s;
  /* position: relative; */
  z-index: 1;
}
body.fixed-nav nav {
  position: fixed;
  width: 100vw;
  /* box-shadow: 0 5px 0 rgba(0,0,0,0.1); */
}

h1.logo {
  max-width: 0;
  overflow: hidden;
  transition: all 1.3s ease-in-out;
  text-wrap: nowrap;
  /* font-weight: 600;
  font-size: 30px; */
}
.fixed-nav h1.logo {
  max-width: 500px;
}

#section1 {
  background-image: url(/assets/img/sacha-inchi-bg.webp)
}

/** Mobile Menu Section  */
#navBar_mobileMenu {
  display: none;
  opacity: 0;
  font-family: var(--pharagrap-font);
  letter-spacing: 1.8px;
  font-size: 1.2rem;
  width: 100%;
  height: 100vh;
  z-index: 6;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}
.mobileMenu_content {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  background-color: #163020;
  z-index: 6;
}
#closeModalBtn {
  height: 42px;
  width: 42px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}
.links_menu {
  margin-top: 130px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
/** WhatsApp Icon **/
.wtspIconContainer {
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 0.5rem;
  transform: translateY(-40%);
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  font-size: 3em;
}

/* LANGUAGE SWITCH */
/* Container for the switch */
.language-switch {
  position: relative;
  width: 3.5rem;
  height: 1.8rem;
  display: inline-block;
}

/* Hidden checkbox */
.language-switch input {
  display: none;
}

/* Switch background */
.switch {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease;
}

/* Language labels */
.language {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  padding: 0 3px;
  transition: opacity 0.3s ease;
}

/* Toggle button */
.switch::after {
  content: '';
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #fff;
  border-radius: 18px;
  top: 0px;
  right: 27px;
  transition: transform 0.3s ease;
}

/* When the toggle is checked */
.language-switch input:checked + .switch {
  /* background-color: #4caf4fe0; */
}

.language-switch input:checked + .switch::after {
  transform: translateX(27px);
}

/* Adjust visibility of language labels */
/* .language-switch input:checked + .switch .en {
  opacity: 0.8;
} */

/* .language-switch input:checked + .switch .es {
  opacity: 1;
}

.language-switch input:not(:checked) + .switch .en {
  opacity: 1;
}

.language-switch input:not(:checked) + .switch .es {
  opacity: 0.8;
  
} */

/**SECTION 3*/
.whatIsSachaInchi {
  background-image: url(/assets/img/amazonForest.webp);
  scroll-margin-top: 64px;
  height: 100vh;
  padding: 0 50px;
  text-align: center;
  padding: 60px 50px 50px 50px;
  /* opacity: 0.5; */
}
.whatIsSachaInchi .bodyContainer {
  display: flex;
  gap: 1rem;
}
.cta-buttons {
  margin-top: 20px;
}
.cta-buttons button {
  background-color: #f6ba02;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.2em;
  cursor: pointer;
}
/* section {
  padding: 50px;
  text-align: center;
} */

.whatIsSachaInchi img {
filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
box-shadow: none;
}
.split-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 5rem; */
}
/**Sacha Inchi Benefits*/
#section4 {
  display: flex;
  flex-direction: column;
  /* padding: 2rem 1rem; */
  height: 550px;
  /* max-width: 100%; */
}
/*Modal */
.hidden {
  display: none;
}
.imageSection4 {
  margin-top: 1rem;
  height: 100vh;
  width: 100%;
}
#section5 {
  scroll-margin-top: 55px;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px;
}
.product-card {
  border: 1px solid #d6cc99;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}
.testimonial-slider {
  padding: 50px;
  background-color: #1b4d20;
  color: #fff9f0;
}
footer {
  background-color: #163020;
  color: #fff9f0;
  text-align: center;
  padding: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/** Tablet */
@media (max-width: 960px) {
  .button {
    padding: 10px 20px;
    font-size: 14px;
  }
}

/** Mobile */
@media (max-width: 480px) {
  #section1 {
    background-image: url(/assets/img/sacha-inchi-mobile.webp);
  }
  .whatIsSachaInchi {
    background-image: url(/assets/img/amazonForestMobile.webp);
    padding: 1.5rem 1rem;
    font-size: 12px;
    height: auto;
  }
  .parallax {
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repetition */
  background-attachment: scroll;
}
  .parallaxText {
    padding: 1rem;
  }
  #section3 {
  
}
  #section5 {
    margin-top: 30px;
  }
}